In [ ]:
##This file contains definitions of functions to be implemented for this project

In [1]:
import numpy as np
import pandas as pd
import os
from pathlib import Path

In [2]:
#read the data
def read_data(filename="human_cachexia.csv"):
    """
    Read the data from the data folder and return a pandas dataframe

    Args:
        filename (str, optional): Name of the file to read. Defaults to "human_cachexia.csv".

    Returns:
        pandas.DataFrame: Dataframe containing the data
    """

    tool_directory=Path.cwd()
    project_directory=os.path.dirname(tool_directory)
    data_directory=os.path.join(project_directory,'resources','test_dataset',filename)
    input_data=pd.read_csv(data_directory)
    print("data read successfully, the shape of the dataframe is: ", input_data.shape)

    return input_data

In [11]:
input_data=read_data()

data_to_process=input_data.iloc[:,2:]

data read successfully, the shape of the dataframe is:  (77, 65)

,"1,6-Anhydro-beta-D-glucose",1-Methylnicotinamide,2-Aminobutyrate,2-Hydroxyisobutyrate,2-Oxoglutarate,3-Aminoisobutyrate,3-Hydroxybutyrate,3-Hydroxyisovalerate,3-Indoxylsulfate,4-Hydroxyphenylacetate,...,Tryptophan,Tyrosine,Uracil,Valine,Xylose,cis-Aconitate,myo-Inositol,trans-Aconitate,pi-Methylhistidine,tau-Methylhistidine
0,40.85,65.37,18.73,26.05,71.52,1480.30,56.83,10.07,566.80,120.30,...,259.82,290.03,111.05,86.49,72.24,237.46,135.64,51.94,157.59,160.77
1,62.18,340.36,24.29,41.68,67.36,116.75,43.82,79.84,368.71,432.68,...,83.10,167.34,46.99,109.95,192.48,333.62,376.15,217.02,307.97,130.32
2,270.43,64.72,12.18,65.37,23.81,14.30,5.64,23.34,665.14,292.95,...,82.27,60.34,31.50,59.15,2164.62,330.30,86.49,58.56,145.47,83.93
3,154.47,52.98,172.43,74.44,1199.91,555.57,175.91,25.03,411.58,214.86,...,235.10,323.76,30.57,102.51,125.21,1863.11,247.15,75.94,249.64,254.68
4,22.20,73.70,15.64,83.93,33.12,29.67,76.71,69.41,165.67,97.51,...,103.54,142.59,44.26,160.77,186.79,101.49,749.95,98.49,84.77,79.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,35.16,52.46,13.87,44.26,99.48,208.51,11.25,6.49,179.47,82.27,...,46.06,45.15,62.18,33.45,62.80,103.54,78.26,18.17,871.31,84.77
73,16.95,15.80,10.49,22.42,62.80,10.91,6.96,3.46,164.02,31.50,...,21.33,21.33,31.19,13.20,14.30,36.23,11.59,12.30,53.52,44.70
74,9.39,14.01,5.16,23.57,46.99,13.33,3.35,2.69,82.27,36.97,...,14.88,15.18,39.65,13.74,21.76,40.85,30.88,8.50,90.02,28.22
75,37.71,18.17,26.05,15.03,23.34,33.45,6.05,5.26,105.64,45.60,...,17.46,29.96,13.46,14.59,36.97,90.92,17.64,12.43,897.85,90.02
76,38.47,12.55,15.03,12.55,22.20,21.33,5.99,3.42,113.30,22.87,...,27.66,23.57,9.58,10.59,19.89,58.56,24.29,13.07,83.93,27.39

In [13]:
def normalize_by_sum(input_data):
    '''
    Normalize the data by dividing each column by the sum of the row

    Args:
        input_data (pandas.DataFrame): Dataframe containing the data

    Returns:
        pandas.DataFrame: Normalized dataframe
    '''
    data_to_process=input_data.iloc[:,2:]
    normalized_data=data_to_process.div(data_to_process.sum(axis=0), axis=1)
    input_data.iloc[:,2:]=normalized_data
    
    return input_data

In [14]:
test_res=normalize_by_sum(input_data)

In [5]:
?pd.DataFrame.div

Signature: pd.DataFrame.div(self, other, axis='columns', level=None, fill_value=None)
Docstring:
Get Floating division of dataframe and other, element-wise (binary operator `truediv`).

Equivalent to ``dataframe / other``, but with support to substitute a fill_value
for missing data in one of the inputs. With reverse version, `rtruediv`.

Among flexible wrappers (`add`, `sub`, `mul`, `div`, `mod`, `pow`) to
arithmetic operators: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

Parameters
----------
other : scalar, sequence, Series, dict or DataFrame
    Any single or multiple element data structure, or list-like object.
axis : {0 or 'index', 1 or 'columns'}
    Whether to compare by the index (0 or 'index') or columns.
    (1 or 'columns'). For Series input, axis to match Series index on.
level : int or label
    Broadcast across a level, matching Index values on the
    passed MultiIndex level.
fill_value : float or None, default None
    Fill existing missing (NaN) values, and any new element needed for
    successful DataFrame alignment, with this value before computation.
    If data in both corresponding DataFrame locations is missing
    the result will be missing.

Returns
-------
DataFrame
    Result of the arithmetic operation.

See Also
--------
DataFrame.add : Add DataFrames.
DataFrame.sub : Subtract DataFrames.
DataFrame.mul : Multiply DataFrames.
DataFrame.div : Divide DataFrames (float division).
DataFrame.truediv : Divide DataFrames (float division).
DataFrame.floordiv : Divide DataFrames (integer division).
DataFrame.mod : Calculate modulo (remainder after division).
DataFrame.pow : Calculate exponential power.

Notes
-----
Mismatched indices will be unioned together.

Examples
--------
>>> df = pd.DataFrame({'angles': [0, 3, 4],
...                    'degrees': [360, 180, 360]},
...                   index=['circle', 'triangle', 'rectangle'])
>>> df
           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360

Add a scalar with operator version which return the same
results.

>>> df + 1
           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

>>> df.add(1)
           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

Divide by constant with reverse version.

>>> df.div(10)
           angles  degrees
circle        0.0     36.0
triangle      0.3     18.0
rectangle     0.4     36.0

>>> df.rdiv(10)
             angles   degrees
circle          inf  0.027778
triangle   3.333333  0.055556
rectangle  2.500000  0.027778

Subtract a list and Series by axis with operator version.

>>> df - [1, 2]
           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358

>>> df.sub([1, 2], axis='columns')
           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358

>>> df.sub(pd.Series([1, 1, 1], index=['circle', 'triangle', 'rectangle']),
...        axis='index')
           angles  degrees
circle         -1      359
triangle        2      179
rectangle       3      359

Multiply a dictionary by axis.

>>> df.mul({'angles': 0, 'degrees': 2})
            angles      degrees
circle           0          720
triangle             0      360
rectangle            0      720

>>> df.mul({'circle': 0, 'triangle': 2, 'rectangle': 3}, axis='index')
            angles      degrees
circle               0        0
triangle             6      360
rectangle           12     1080

Multiply a DataFrame of different shape with operator version.

>>> other = pd.DataFrame({'angles': [0, 3, 4]},
...                      index=['circle', 'triangle', 'rectangle'])
>>> other
           angles
circle          0
triangle        3
rectangle       4

>>> df * other
           angles  degrees
circle          0      NaN
triangle        9      NaN
rectangle      16      NaN

>>> df.mul(other, fill_value=0)
           angles  degrees
circle          0      0.0
triangle        9      0.0
rectangle      16      0.0

Divide by a MultiIndex by level.

>>> df_multindex = pd.DataFrame({'angles': [0, 3, 4, 4, 5, 6],
...                              'degrees': [360, 180, 360, 360, 540, 720]},
...                             index=[['A', 'A', 'A', 'B', 'B', 'B'],
...                                    ['circle', 'triangle', 'rectangle',
...                                     'square', 'pentagon', 'hexagon']])
>>> df_multindex
             angles  degrees
A circle          0      360
  triangle        3      180
  rectangle       4      360
B square          4      360
  pentagon        5      540
  hexagon         6      720

>>> df.div(df_multindex, level=1, fill_value=0)
             angles  degrees
A circle        NaN      1.0
  triangle      1.0      1.0
  rectangle     1.0      1.0
B square        0.0      0.0
  pentagon      0.0      0.0
  hexagon       0.0      0.0
File:      ~/opt/anaconda3/lib/python3.9/site-packages/pandas/core/ops/__init__.py
Type:      function

In [ ]:
##normalization methods

def normalize_by_sum():
    pass

def normalize_by_median():
    pass

def normalize_by_reference_sample_PQN():
    pass

def normalize_by_reference_feature():
    pass

In [ ]:
def data_transformation_log():
    pass

In [ ]:
def data_scaling_mean_centered():
    pass

In [ ]:
def PCA_analysis():
    return None

In [ ]:
def MA_plot():
    return None

In [ ]:
##interface for user to select the normalization method and data transformation method
def user_interface():
    return None